@font-face {
  font-family: "pixel_operatorregular";
  src: url("../Fonts/pixelOperator/pixeloperator-webfont.woff2") format("woff2"), url("../Fonts/pixelOperator/pixeloperator-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "press_start_2pregular";
  src: url("../Fonts/PressStart2p/pixeloperator-webfont.woff2") format("woff2"), url("../Fonts/PressStart2p/pixeloperator-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

#main-screen {
  background-color: #0E0046;
  border-style: solid;
  border-width: 2px;
  border-color: #8345ED;
  margin: 20px;
  padding: 0 30px;
}

header {
  display: flex;
  flex-direction: column;
}

#title {
  color: #DE45ED;
  font-family: "press_start_2pregular";
  margin-bottom: 5px;
}

#subtitle {
  color: #45ED65;
  font-family: "press_start_2pregular";
  margin-top: 0;
}

#hrcontainer {
  display: flex;
  flex-direction: column;
}

hr {
  width: 65%;
  color: #8345ED;
  background-color: #8345ED;
  margin: 20px 0;
}

#hr1 {
  display: flex;
  align-self: start;
}

#hr2 {
  display: flex;
  align-self: center;
}

#hr3 {
  display: flex;
  align-self: end;
}

#nav {
  font-weight: 900;
  display: flex;
  justify-content: end;
}

#menu-list {
  margin-top: 10px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: end;
}

.link1 .text:hover {
  color: #45ED65;
}

.link2 .text:hover {
  color: #DE45ED;
}

.text {
  color: white;
  font-family: "pixel_operatorregular";
}

@media screen and (min-width: 1200px) {
  #title {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  #subtitle {
    font-size: 2rem;
    margin-top: 0;
  }
  #nav {
    font-size: 10rem;
  }
  .li-menu {
    height: 150px;
  }
}