@charset "UTF-8";
@font-face {
  font-family: "pixel_operatorregular";
  src: url("../Fonts/pixelOperator/pixeloperator-webfont.woff2") format("woff2"), url("../Fonts/pixelOperator/pixeloperator-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "press_start_2pregular";
  src: url("../Fonts/PressStart2p/pixeloperator-webfont.woff2") format("woff2"), url("../Fonts/PressStart2p/pixeloperator-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
body {
  background-color: #0E0046;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

main {
  height: 100%;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: white;
}

ul li {
  list-style-type: none;
}

#border {
  position: fixed;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  border: 2px solid #8345ED;
  padding: 20px;
  box-sizing: border-box;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  flex-direction: column;
}

#bigTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: solid 2px #8345ED;
  padding-bottom: 30px;
}

#title {
  color: #DE45ED;
  font-family: "press_start_2pregular";
  margin-bottom: 5px;
}

.subtitle {
  color: #45ED65;
  font-family: "pixel_operatorregular";
  margin: 0;
}

.scroll-container {
  flex-grow: 1;
  height: 100%;
  overflow: auto;
  box-sizing: border-box;
  scrollbar-width: none;
}

#scroll-container::-webkit-scrollbar {
  display: none;
}

#nav {
  font-family: "pixel_operatorregular";
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 900;
  font-size: 5rem;
  height: 70vh;
}

#menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  margin: 0;
}

#menu-list .link .text:hover {
  color: #45ED65;
}

.li-menu {
  width: 100%;
  /* Chaque élément prend toute la largeur disponible */
  display: flex;
  justify-content: center;
  /* Centre le lien horizontalement */
}

.li-menu:hover {
  border-bottom: 1.5mm ridge #8345ED;
}

.link {
  display: flex;
  align-items: center;
  /* Centre verticalement le texte */
  justify-content: center;
  /* Centre horizontalement le texte */
  text-align: center;
  text-decoration: none;
  width: 100%;
  /* Le lien prend toute la largeur de son parent */
}

#navback p {
  font-size: 2rem;
  font-weight: 900;
  margin: 10px 0;
}

.text {
  color: white;
  font-family: "pixel_operatorregular";
}

#game {
  display: none;
}

#backNav {
  color: white;
}

#aboutTitle {
  margin-top: 20px;
}

#signature {
  text-align: right;
}

#presentProject {
  padding: 3px;
  border-bottom: solid 2px #8345ED;
}

#presentProject p {
  font-size: 1.5rem;
}

#allProjects {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.project {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 70%;
  text-align: center;
  margin-bottom: 15px;
}

.title-project {
  color: #45ED65;
  font-family: "pixel_operatorregular";
  font-size: 3rem;
  margin: 4px 0;
  cursor: pointer;
  white-space: pre-wrap;
}

.title-project:hover {
  border-bottom: 1.5mm solid #8345ED;
}

.title-project.active {
  border-bottom: 1.5mm solid #8345ED;
}

.project-detail {
  display: none;
}

.project-detail.active {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 70%;
  margin-top: 10px;
  background-color: #8345ED;
  padding: 0 30px;
}

.all-link {
  display: flex;
  flex-direction: row;
}

.link-project {
  margin-left: 5px;
}

.img-link {
  width: 30px;
  height: 30px;
}

.arrow-down {
  position: absolute;
  margin: 10px 0;
  width: 0;
  height: 0;
  left: 48%;
  border-right: 13px solid transparent;
  border-left: 13px solid transparent;
  border-top: 15px solid #DE45ED;
}

.subtitle-admin {
  color: #45ED65;
  font-family: "pixel_operatorregular";
  border-bottom: solid 1px #8345ED;
}

form {
  background-color: #0E0046;
  padding: 20px;
  margin-bottom: 20px;
  max-width: 100%;
  box-sizing: border-box;
}

form button {
  background-color: #8345ED;
  color: white;
  padding: 10px 15px;
  border: none;
  font-family: "press_start_2pregular";
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

form button:hover {
  background-color: #45ED65;
  color: black;
  border: none;
}

.centered-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 70%; /* Le formulaire occupe 70% de la largeur de la page */
  margin: 0 auto; /* Centre horizontalement le formulaire */
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

.form-group label,
.form-group input,
.form-group textarea {
  width: 100%; /* Assure que tous les éléments prennent toute la largeur disponible */
  box-sizing: border-box; /* Inclut les bordures et le padding dans la largeur */
}

label.text {
  color: white;
  font-family: "pixel_operatorregular";
  display: block;
  margin-bottom: 8px;
}

input.text {
  font-family: "pixel_operatorregular";
  font-size: 1rem;
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #8345ED;
  border-radius: 4px;
  background-color: white;
  color: black;
  transition: border-color 0.3s ease;
}

textarea.text {
  font-family: "pixel_operatorregular";
  font-size: 1rem;
  width: calc(100% - 24px);
  padding: 10px;
  margin-bottom: 15px;
  border: 2px solid #8345ED;
  border-radius: 4px;
  background-color: white;
  color: black;
  transition: border-color 0.3s ease;
}

input.text:hover,
input.text:focus {
  border-color: #45ED65;
  outline: none;
}

input[type=file] {
  font-family: "pixel_operatorregular";
  font-size: 1rem;
  width: calc(100% - 24px);
  padding: 8px;
  margin-bottom: 15px;
  border: 2px solid #8345ED;
  background-color: white;
  color: black;
  cursor: pointer;
  transition: border-color 0.3s ease;
}

input[type=file]:hover {
  border-color: #45ED65;
}

.admin-title {
  padding-top: 10px;
}

#cv.text {
  font-family: "pixel_operatorregular";
  font-size: 1rem;
}

#description {
  color: black;
  font-family: "pixel_operatorregular";
  font-size: 1rem;
}

#image {
  font-family: "pixel_operatorregular";
  font-size: 1rem;
}

@media screen and (min-width: 740px) {
  #bigTitle {
    padding-bottom: 10px;
    align-items: start;
  }
  .li-menu {
    width: 100%;
    display: flex;
    justify-content: end;
  }
  #nav {
    font-size: 7rem;
    justify-content: end;
  }
  #menu-list {
    margin-top: 50px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .text {
    font-size: 1.2rem;
  }
  .content-section {
    display: flex;
  }
  #presentProject {
    border-bottom: none;
    margin-top: 160px;
    text-align: start;
    width: 55%;
    margin-left: 10px;
    margin-right: 50px;
  }
  #presentProject p {
    width: 80%;
  }
  #allProjects {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: 10px;
    max-width: 45%;
  }
  .project {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 70%;
    text-align: end;
    margin-bottom: 15px;
  }
  .project h3 {
    text-wrap: nowrap;
  }
  #navSide {
    width: 10%;
  }
}
@media screen and (min-width: 1200px) {
  #title {
    font-size: 3rem;
    margin-bottom: 5px;
  }
  .subtitle {
    font-size: 2rem;
    margin-top: 0;
  }
  #nav {
    font-size: 7rem;
    font-family: "pixel_operatorregular";
  }
  .li-menu {
    height: 100px;
  }
  #game {
    display: flex;
    box-shadow: 5px 5px 5px 5px;
    border: none;
    position: absolute;
    top: 220px;
    left: 150px;
    height: 300px;
    width: 300px;
  }
  .title-project {
    font-size: 6rem;
  }
}
@media screen and (min-width: 1400px) {
  #nav {
    font-size: 8rem;
  }
  .li-menu {
    height: 150px;
  }
  #game {
    height: 600px;
    width: 600px;
  }
  .title-project {
    font-size: 8rem;
  }
}
@media screen and (min-width: 1600px) {
  #nav {
    font-size: 10rem;
  }
  .li-menu {
    height: 200px;
  }
}